{{!-- CREATE LANDING PAGE --}}
<br>
<section class="max-w-screen-xl mx-auto bg-gray-50 p-12 rounded-3xl my-8 shadow-lg">
    <!-- Render the sub layout -->
    <div class="flex col-2 gap-8 ">
        <div>
            <p>Welcome to our website! We're dedicated to bringing you the latest news and information on a wide range of topics, from entertainment and sports to technology and science. With a team of experienced writers and editors, we strive to provide you with accurate and engaging content that keeps you informed and entertained. Our site is easy to navigate, and you can find the latest articles and updates on our homepage. So take a look around and discover all that our website has to offer!</p>
        </div>
        <div>
            <p>Right side</p>
        </div>    
    </div>
    <hr>
    <div class="flex col-3 mt-8 gap-8">
        <div>
            <span class="font-bold text-xl pb-2">Members: </span>{{user_count}} 
        </div>
        <div>
            <span class="font-bold text-xl pb-2">Posts: </span>{{post_count}} 
        </div>
        <div>
            <span class="font-bold text-xl pb-2">Answers: </span>{{answer_count}} 
        </div>
    </div>
</section>
<h1 class="font-bold text-3xl pb-2">Featured Posts</h1>
<section class="flex col-3 gap-8">
    {{#each posts as |post| }}
    <div class="max-w-screen-xl mx-auto bg-slate-200 p-12 my-8 shadow-lg w-full flex-wrap">
        {{!-- Display POST Title --}}
        <h2 class="font-bold text-3xl pb-2">      
            <a href="/posts/{{post.post_id}}">{{post.post_title}}</a>
        </h2> 
        <div>
            <p class="py-4">{{post.post_body}}</p>
        </div>
        <div class="grid grid-cols-2 content-evenly">        
            <div class="">
                <span class="text-blue-500">{{post.user.name}} </span>
            </div>
            <div class="">
                <span class="text-blue-500">{{format_date post.date_created}}</span> 
            </div>
        </div>
        <hr class="mb-10 mt-4">
        <div class="grid grid-cols-3 content-evenly">
            {{!-- Views --}}
            <div class="flex gap-1 h-full">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <title>Views</title>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                <span class="text-blue-500">{{post.view_count}}</span> 
            </div>
            <div>

            </div>
            {{!-- answers --}}
            <div class="flex gap-1 hover:text-blue-500">
                <a href="/posts/{{post.post_id}}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 answer-icon" data-answer-count="{{post.answer_count}}">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                    </svg>
                </a>
                <span class="text-blue-500">{{post.answer_count}}</span> 
            </div>
        </div>
    </div>
    {{/each}}
</section>
    {{#if logged_in}}
    <div style="display: flex; justify-content: flex-end;">
        <a href="/createPost" class="font-bold text-slate-800 hover:text-blue-900 transition duration-300">Ask Question</a>
    </div>
    {{else}}
    <div style="display: flex; justify-content: flex-end;">
        <a href="/login" class="font-bold text-slate-800 hover:text-blue-900 transition duration-300">Ask Question</a>
    </div>
    {{/if}}
