<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
  {{!-- Display POST Title --}}
  <h2 class="font-bold text-3xl pb-2">      
    <a href="/posts/{{post.post_id}}">{{post.post_title}}</a>
  </h2>            
  <p><span class="text-blue-500">Created by</span> {{post.user.name}} </p>
  <p><span class="text-blue-500">Date</span> {{format_date post.date_created}}</p>
  
  <p class="py-4">{{post.post_body}}</p>

  <div class="flex gap-x-8">
    <p><span class="text-blue-500">Answers:</span> {{post.answer_count}}</p>
    <p><span class="text-blue-500">Views:</span> {{post.view_count}}</p>
    <p><span class="text-blue-500">Flag Count:</span> {{post.flag_count}}</p>
    <button type="click" class="post-btn-delete" data-post-id="{{post.post_id}}">Delete</button>
    <button type="click" class="flag-post-btn" data-post-id="{{post.post_id}}">Flag Post</button>
  </div>  
  <br>
    <hr>
  <br>
{{/each}}
